$navbar-bg: #9aa0b625;
.navbar{
    width: 100%;
    height: 6rem;
    background-color: $navbar-bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    position: sticky top -3px;

}